{
  "presets": [
    ["latest", { "modules": false }],
    "react",
    "stage-3"
  ],
  "plugins": [
    ["transform-react-jsx", { "pragma": "preact.h" }],
    ["lodash", { "id": ["lodash", "semantic-ui-react"] }]
  ]
}
